<!DOCTYPE html>
<html lang="br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard - SINASC</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
    
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <link rel = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></link>
    
    <link rel="shortcut icon" href="img/favicon.png" />

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SIMUNIPDF</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Sistemas
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Sistema de Informações de Mortalidade - SIM</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Escolha uma opção:</h6>
            <a class="collapse-item" href="aboutSIM.html">Sobre</a>
            <a class="collapse-item" href="dashboardSIM.html">Visualizar dados</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Sistema de Informações Sobre Nascidos Vivos - SINASC</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Escolha uma opção:</h6>
            <a class="collapse-item" href="aboutSINASC.html">Sobre</a>
            <a class="collapse-item" href="dashboardSINASC.html">Visualizar dados</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Pesquisar" aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
        
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>
              
          </ul>

        </nav>
        <!-- End of Topbar -->
          
          

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h4 mb-4 text-gray-800">Dados do SIM 2017</h1>
            
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>  Gerar PDF</a>
        </div>
            
            <!--
            <a href="#" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
                    <span class="text">Split Button Primary</span>
                  </a>
            -->
            
            
            
            
            
            <!-- Custom Text Color Utilities -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Mortalidade Total</h6>
                </div>
                <div class="card-body">
                    <div class = "container" style="width: 900px;" >
                        <canvas id = "graf01_MortalidadeTotal"></canvas>
                    </div>
                  </div>
              </div>
            
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Índices de Mortalidade por Sexo</h6>
                </div>
                <div class="card-body">
                    <div class = "container" style="width: 900px;" >
                        <canvas id = "graf02_MortesPorSexo"></canvas>
                    </div>
                  </div>
              </div>
            
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Índices de Mortalidade por Dia</h6>
                </div>
                <div class="card-body">
                    <div class = "container" style="width: 900px;" >
                        <canvas id = "graf03_MortesPorDia"></canvas>
                    </div>
                  </div>
              </div>
            
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Índices de Mortalidade por Raça/Cor</h6>
                </div>
                <div class="card-body">
                    <div class = "container" style="width: 900px;" >
                        <canvas id = "graf04_MortesRacaCor"></canvas>
                    </div>
                  </div>
              </div>
            
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Índices de Mortalidade por Faixa Etária</h6>
                </div>
                <div class="card-body">
                    <div class = "container" style="width: 900px;" >
                        <canvas id = "graf05_MortesPorFaixaEtária"></canvas>
                    </div>
                  </div>
              </div>
            
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Índices de Mortalidade por Tipo de Habitante</h6>
                </div>
                <div class="card-body">
                    <div class = "container" style="width: 900px;" >
                        <canvas id = "graf06_MortesPorTipoHabitante"></canvas>
                    </div>
                  </div>
              </div>
            
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Locais de Ocorrência</h6>
                </div>
                <div class="card-body">
                    <div class = "container" style="width: 900px;" >
                        <canvas id = "graf07_LocalDeOcorrencia"></canvas>
                    </div>
                  </div>
              </div>
            
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Houve Assistência Médica?</h6>
                </div>
                <div class="card-body">
                    <div class = "container" style="width: 900px;" >
                        <canvas id = "graf08_AssistMedica"></canvas>
                    </div>
                  </div>
              </div>
            
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Circunstâncias da Morte</h6>
                </div>
                <div class="card-body">
                    <div class = "container" style="width: 900px;" >
                        <canvas id = "graf09_Circunstancias"></canvas>
                    </div>
                  </div>
              </div>
    


            <div class="card mb-4 py-3 border-left-info">
                <div class="card-body">
                  Espaço para texto
                </div>
            </div>   

        <!-- Script -->
        <script>

            // 01
            let graf01_MortalidadeTotal = document.getElementById('graf01_MortalidadeTotal').getContext('2d');

            let massPopChart  = new Chart(graf01_MortalidadeTotal, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'],
                    datasets:[{
                        label: 'Mortes',
                        data:[
                            333,
                            342,
                            375,
                            400,
                            432,
                            445,
                            472,
                            584,
                            645       
                        ],
                        backgroundColor:[
                            //'#3e64d3'
                        ],
                        hoverBorderWidth: 2,
                        hoverBorderColor: '#3e64d3'
                    }]
                }, 
                options:{

                    legend:{
                        position: 'right'
                    },
                    layout:{
                        width: 10,
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                }
            });

            // 02
            let graf02_MortesPorSexo = document.getElementById('graf02_MortesPorSexo').getContext('2d');

            let massPopChart2  = new Chart(graf02_MortesPorSexo, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: [
                        'Homens',
                        'Mulheres'  
                    ],
                    datasets:[{
                        label: 'Mortes',
                        data:[
                            364,
                            281
                        ],
                        backgroundColor:[
                            //'#3e64d3'
                        ],
                        hoverBorderWidth: 2,
                        hoverBorderColor: '#3e64d3'
                    }]
                }, 
                options:{
                    legend:{
                        position: 'right'
                    },
                    layout:{
                        width: 10,
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                }
            });

            // 03
            let graf03_MortesPorDia = document.getElementById('graf03_MortesPorDia').getContext('2d');

            let massPopChart3  = new Chart(graf03_MortesPorDia, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: [
                        'Domingo',
                        'Segunda',
                        'Terça',
                        'Quarta',
                        'Quinta',
                        'Sexta',
                        'Sábado'
                    ],
                    datasets:[{
                        label: 'Mortes',
                        data:[
                            99,
                            89,
                            66,
                            90,
                            106,
                            102,
                            93
                        ],
                        backgroundColor:[
                            //'#3e64d3'
                        ],
                        hoverBorderWidth: 2,
                        hoverBorderColor: '#3e64d3'
                    }]
                }, 
                options:{
                    legend:{
                        position: 'right'
                    },
                    layout:{
                        width: 10,
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                }
            });

            // 04
            let graf04_MortesRacaCor = document.getElementById('graf04_MortesRacaCor').getContext('2d');

            let massPopChar4  = new Chart(graf04_MortesRacaCor, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: [
                        'Branca',
                        'Preta',
                        'Amarela',
                        'Parda',
                        'Indígena'
                    ],
                    datasets:[{
                        label: 'Mortes',
                        data:[
                            402,
                            32,
                            0,
                            206,
                            0
                        ],
                        backgroundColor:[
                            //'#3e64d3'
                        ],
                        hoverBorderWidth: 2,
                        hoverBorderColor: '#3e64d3'
                    }]
                }, 
                options:{
                    legend:{
                        position: 'right'
                    },
                    layout:{
                        width: 10,
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                }
            });

            // 05
            let graf05_MortesPorFaixaEtária = document.getElementById('graf05_MortesPorFaixaEtária').getContext('2d');

            let massPopChar5  = new Chart(graf05_MortesPorFaixaEtária, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: [
                        'Até 1 ano',
                        'De 2 a 10 anos',
                        'De 11 a 20 anos',
                        'De 21 a 30 anos',
                        'De 31 a 40 anos',
                        'De 51 a 60 anos',
                        '61 anos ou mais'
                    ],
                    datasets:[{
                        label: 'Mortes',
                        data:[
                            12,
                            2,
                            8,
                            15,
                            34,
                            41,
                            456
                        ],
                        backgroundColor:[
                            //'#3e64d3'
                        ],
                        hoverBorderWidth: 2,
                        hoverBorderColor: '#3e64d3'
                    }]
                }, 
                options:{
                    legend:{
                        position: 'right'
                    },
                    layout:{
                        width: 10,
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                }
            });

            // 06
            let graf06_MortesPorTipoHabitante = document.getElementById('graf06_MortesPorTipoHabitante').getContext('2d');

            let massPopChar6  = new Chart(graf06_MortesPorTipoHabitante, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: [
                        'Cidadãos pauferrenses',
                        'Cidadãos não-pauferrenses'
                    ],
                    datasets:[{
                        label: 'Mortes',
                        data:[
                            164,
                            481
                        ],
                        backgroundColor:[
                            //'#3e64d3'
                        ],
                        hoverBorderWidth: 2,
                        hoverBorderColor: '#3e64d3'
                    }]
                }, 
                options:{
                    legend:{
                        position: 'right'
                    },
                    layout:{
                        width: 10,
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                }
            });

            // 07
            let graf07_LocalDeOcorrencia = document.getElementById('graf07_LocalDeOcorrencia').getContext('2d');

            let massPopChar7  = new Chart(graf07_LocalDeOcorrencia, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: [
                        'Hospital',
                        'Outro estab. de saúde',
                        'Domicílio',
                        'Via pública',
                        'Outros'
                    ],
                    datasets:[{
                        label: 'Mortes',
                        data:[
                            575,
                            1,
                            56,
                            9,
                            4
                        ],
                        backgroundColor:[
                            //'#3e64d3'
                        ],
                        hoverBorderWidth: 2,
                        hoverBorderColor: '#3e64d3'
                    }]
                }, 
                options:{
                    legend:{
                        position: 'right'
                    },
                    layout:{
                        width: 10,
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                }
            });

            // 08
            let graf08_AssistMedica = document.getElementById('graf08_AssistMedica').getContext('2d');

            let massPopChar8  = new Chart(graf08_AssistMedica, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: [
                        'Sim',
                        'Não',
                        'Ignorado'
                    ],
                    datasets:[{
                        label: 'Mortes',
                        data:[
                            378,
                            15,
                            252
                        ],
                        backgroundColor:[
                            //'#3e64d3'
                        ],
                        hoverBorderWidth: 2,
                        hoverBorderColor: '#3e64d3'
                    }]
                }, 
                options:{
                    legend:{
                        position: 'right'
                    },
                    layout:{
                        width: 10,
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                }
            });

            // 09
            let graf09_Circunstancias = document.getElementById('graf09_Circunstancias').getContext('2d');

            let massPopChar9  = new Chart(graf09_Circunstancias, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: [
                        'Acidente',
                        'Suicídio',
                        'Homicídio',
                        'Outros'
                    ],
                    datasets:[{
                        label: 'Mortes',
                        data:[
                            15,
                            8,
                            11,
                            611
                        ],
                        backgroundColor:[
                            //'#3e64d3'
                        ],
                        hoverBorderWidth: 2,
                        hoverBorderColor: '#3e64d3'
                    }]
                }, 
                options:{
                    legend:{
                        position: 'right'
                    },
                    layout:{
                        width: 10,
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                }
            });     

        </script>
          
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
              <span>SIMUNIPDF &copy; 2009 - 2011</br>Desenvolvido por Dyego e Ernandes</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

</div>    
</div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

    
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
